{% extends 'payments/base.html' %}
{% block title %}Payer la cotisation AMG{% endblock %}
{% block heading %}Payer la cotisation AMG{% endblock %}
{% block content %}
  <div class="stack-12">
    {% if locked %}
    {% else %}
      <p class="note">Renseignez les champs ci-dessous. Vous serez ensuite redirigé vers HOLO pour la saisie du PIN et de l’OTP.</p>
    {% endif %}
    <form class="form-grid" method="post" action="">
      {% csrf_token %}
      <label>Montant (KMF)
        <input class="input" type="number" name="amount" min="1" required value="{{ amount_prefill }}" {% if locked %}readonly aria-readonly="true"{% endif %} />
      </label>
      <label>Numéro d’assuré AMG
        <input class="input" type="text" name="openimis_ref" placeholder="AMG-123456" required value="{{ openimis_ref_prefill }}" {% if locked %}readonly aria-readonly="true"{% endif %} />
      </label>
      <!-- <label>ID Bénéficiaire
        <input class="input" type="text" name="beneficiary_id" placeholder="BEN-12345" required value="{{ beneficiary_id_prefill }}" {% if locked %}readonly aria-readonly="true"{% endif %} />
      </label> -->
      <!-- <label>Description
        <input class="input" type="text" name="description" value="{{ description_prefill }}" {% if locked %}readonly aria-readonly="true"{% endif %} />
      </label> -->
      <div>
        <button class="btn btn-primary" type="submit">Initier paiement HOLO</button>
      </div>
    </form>
  </div>
{% endblock %}